<div class="news">
  {% if site.posts != blank %}
  <div class="row row-cols-{{ latest_posts_limit }}">
    {% if site.latest_posts.limit %}
    {% assign latest_posts_limit = site.latest_posts.limit %}
    {% else %}
    {% assign latest_posts_size = site.posts | size %}
    {% assign latest_posts_limit = latest_posts_size %}
    {% endif %}
    {% for item in site.posts limit: latest_posts_limit %}
    <div class="card-item col" style="min-height: 400px;">
      <a href="{{ item.url | relative_url }}">
        <div class="card hoverable" style="min-height: 100%;">
          <div class="row g-0">
            <div class="col-md-12" style="height: 30%;">
              {% if item.img %}
              <img src="{{ item.img }}" alt="Post Thumbnail" class="card-img-top" style="object-fit: cover; height: 100%;">
              {% else %}
              <img src="./assets/img/post_header.png" alt="Default Thumbnail" class="card-img-top" style="object-fit: cover; height: 100%;">
              {% endif %}
            </div>

            <!-- Title -->
              <div class="card-body">
                <h3 class="card-title" style="margin-left: 0.5em">{{ item.title }}</h3>
              </div>

            <!-- Description -->
            <div class="col-md-12 d-flex align-items-start" style="height: 30%;">
              <div class="card-body">
                <div class="card-text">{{ item.description | strip_html | truncate: 140, '...' }}</div>
                <p class="post-meta">{{ item.date | date_to_string }}</p>
              </div>
            </div>

          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No posts so far...</p>
  {% endif %}
</div>
