<!-- _includes/people_horizontal.html -->
<div class="col-md-4 mb-3">
    <div class="card h-100">
        {% assign person_name_parts = person.name | split: ' ' %}
        <!-- Conditional Link -->
        <a href="{{ person.redirect | default: person.url | relative_url }}">
            <!-- Show Card Body -->
            <div class="card-body">
                <div class="person-card-mark" aria-hidden="true">
                    <span>{{ person_name_parts[0] | slice: 0, 1 }}{{ person_name_parts[-1] | slice: 0, 1 }}</span>
                </div>
                <!-- Show Title -->
                {%- if person.title -%}
                <p class="card-subtitle text-muted">{{ person.title }}</p>
                {%- endif -%}

                <!-- Show Name -->
                {%- if person.name -%}
                <h3 class="card-title">{{ person.name }}</h3>
                {%- endif -%}

                <!-- Show Description -->
                <p class="card-text">{{ person.description }}</p>

                <!-- Show GitHub Link -->
                {%- if person.github -%}
                <a href="{{ person.github }}" class="btn btn-primary">
                    <i class="fab fa-github"></i> GitHub
                </a>
                {%- endif -%}
            </div>
        </a>
    </div>
</div>
