---
layout: default
---

<!-- Custom CSS -->
<style>
  /* Importing Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

  /* Applying global styles */
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }

  /* Header styles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

  /* Hero image styles */
  /* Hero image styles */

  .hero-image {
    background-image: url("{{'assets/img/hero.png' | relative_url}}");
    background-size: 100%; /* Sets the size of the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the container */
    height: 40vh; /* Full viewport height */

    margin-bottom: 1rem;
  }


  /* Section spacing */
  .section {
    margin: 2rem 0;
  }

  /* Social icon layout */
  .social .contact-icons {
    display: flex;
    gap: 1rem;
  }

  /* Footer styles */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
  }

  .footer .social,
  .footer .img-logos-footer {
    flex: 1;
  }

  .img-logos-footer {
    display: flex;
    justify-content: flex-end;
  }

  .img-logo-footer {
    margin: 0 1rem;
    text-align: center;
  }
</style>

<div class="post">
  <article>
    <!-- Hero Image -->
    <div class="hero-image"></div>

    <!-- Main Content -->
    <section class="clearfix section">
      {{ content }}
    </section>

    <!-- News Section -->
    {% if page.news and site.announcements.enabled %}
    <section class="section">
      <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
      {% include news.html limit=true %}
    </section>
    {% endif %}

    <!-- Latest Posts Section -->
    {% if page.latest_posts %}
    <section class="section">
      <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
      {% include latest_posts.html %}
    </section>
    {% endif %}

    <!-- Social Section -->
    {% if page.social %}
    <section class="footer">
      <!-- Social Section -->
      <div class="social section">
        <div class="contact-icons">
          {% include social.html %}
        </div>
        <div class="contact-note">
          {{ site.contact_note }}
        </div>
      </div>

      <!-- Logo Section -->
      <div class="img-logos-footer section">
        <div class="img-logo-footer">
          <img src="assets/img/logo_100.png" width="70" height="70" alt="" class="image-5">
          <a href="#">HIDSI</a>
        </div>
        <div class="img-logo-footer">
          <img src="assets/img/HIMB_bw_logo_100.png" width="70" height="70" alt="" class="image">
          <a href="#">HIMB</a>
        </div>
        <div class="img-logo-footer">
          <img src="assets/img/ICS_logo_105.png" width="70" height="70" alt="">
          <a href="#">ICS</a>
        </div>
      </div>
    </section>
    {% endif %}
  </article>
</div>
